@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

.contentSection {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.contentSection > * + * {
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .contentSection {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .contentSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.article-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;

.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
}

  .media {
  height: 256px;
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
    width: 40%;
  }

}

.m-t-24 {
  margin-top: 24px;
}