@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

.contentSection {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5rem;
}

.contentSection > * + * {
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .contentSection {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .contentSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.firstSection {
  position: relative;
  background-color: white;
  padding-top: 0px; /* Adjust as needed to accommodate the skew */
}

.firstSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: skew(0deg, 0deg); /* Changed from -2deg to 2deg */
  transform-origin: top right; /* Changed from top left to top right */
  border-top: rgb(156 163 175) solid 3px;
}

.primarySection {
  background-color: white;
}

.secondarySection {
  position: relative;
  background-color: rgb(229 231 235);
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 50px 0; /* Adjust as needed */
  overflow: hidden;
}

.secondarySection::before,
.secondarySection::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 50px; /* Adjust for steeper or shallower angle */
  background-color: white; /* Or any color that matches your design */
}

.secondarySection::before {
  top: 0;
  transform: skew(0deg, -1.1deg);
  transform-origin: top left;
}

.secondarySection::after {
  bottom: 0;
  transform: skew(0deg, 1.1deg);
  transform-origin: bottom left;
}

.bottomSection {
  padding: 50px 0; /* Adjust as needed */
  border-bottom: rgb(107 114 128) solid 3px;
}

.bottomSection::after {  
  bottom: 0;
  height: 0;
  transform: skew(0deg, 0deg);
  transform-origin: bottom left;
}

.article-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;

.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
}

  .media {
  height: 256px;
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
    width: 40%;
  }

}

.m-t-24 {
  margin-top: 24px;
}